@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 47, ../sass/tabs.scss */
.cpt-tabs-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
/* line 55, ../sass/tabs.scss */
.cpt-tabs-wrapper .tabs-info .tabs-pc .title .ul-pctabs-title {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
/* line 61, ../sass/tabs.scss */
.cpt-tabs-wrapper .tabs-info .tabs-pc .title .ul-pctabs-title .li-pctbas-title {
  margin: 0;
  width: 100%;
  height: 40px;
  line-height: 32px;
  padding: 4px 10px;
  background: rgba(0, 0, 0, 0.5);
  margin: 10px 0;
  color: #fff;
  cursor: pointer;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 77, ../sass/tabs.scss */
.cpt-tabs-wrapper .tabs-info .tabs-pc .title .ul-pctabs-title .li-pctbas-title.active {
  background: #4D96DF;
}
/* line 85, ../sass/tabs.scss */
.cpt-tabs-wrapper .tabs-info .tabs-pc .content .ul-pctabs-content {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
/* line 90, ../sass/tabs.scss */
.cpt-tabs-wrapper .tabs-info .tabs-pc .content .ul-pctabs-content .li-pctbas-content {
  display: none;
  margin: 0;
  width: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.36);
  margin: 10px 0;
  color: #fff;
}
/* line 99, ../sass/tabs.scss */
.cpt-tabs-wrapper .tabs-info .tabs-pc .content .ul-pctabs-content .li-pctbas-content .section {
  padding: 5px;
}
/* line 102, ../sass/tabs.scss */
.cpt-tabs-wrapper .tabs-info .tabs-pc .content .ul-pctabs-content .li-pctbas-content .section .h1-section-title {
  font-size: 16px;
  line-height: 32px;
}
/* line 107, ../sass/tabs.scss */
.cpt-tabs-wrapper .tabs-info .tabs-pc .content .ul-pctabs-content .li-pctbas-content .section .h1-section-content {
  font-size: 14px;
  line-height: initial;
}
/* line 113, ../sass/tabs.scss */
.cpt-tabs-wrapper .tabs-info .tabs-pc .content .ul-pctabs-content .li-pctbas-content.active {
  display: block;
}
/* line 122, ../sass/tabs.scss */
.cpt-tabs-wrapper .tabs-info .tabs-mobile .ul-tabs-info {
  margin: 0;
  padding: 10px;
}
/* line 125, ../sass/tabs.scss */
.cpt-tabs-wrapper .tabs-info .tabs-mobile .ul-tabs-info .li-tabs-info {
  width: 100%;
  height: auto;
}
/* line 129, ../sass/tabs.scss */
.cpt-tabs-wrapper .tabs-info .tabs-mobile .ul-tabs-info .li-tabs-info .div-tabs-title {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
/* line 135, ../sass/tabs.scss */
.cpt-tabs-wrapper .tabs-info .tabs-mobile .ul-tabs-info .li-tabs-info .div-tabs-title .h1-tabs-title {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 4px 10px;
  height: 40px;
  line-height: 32px;
  color: #fff;
}
/* line 143, ../sass/tabs.scss */
.cpt-tabs-wrapper .tabs-info .tabs-mobile .ul-tabs-info .li-tabs-info .div-tabs-title .titleStatus {
  -webkit-flex: 0 0 18px;
  flex: 0 0 18px;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  color: #fff;
}
/* line 150, ../sass/tabs.scss */
.cpt-tabs-wrapper .tabs-info .tabs-mobile .ul-tabs-info .li-tabs-info .div-tabs-title .titleStatus.dw-icon-tabs:before {
  content: "\e900";
}
/* line 156, ../sass/tabs.scss */
.cpt-tabs-wrapper .tabs-info .tabs-mobile .ul-tabs-info .li-tabs-info .div-tabs-content {
  max-height: 0px;
  min-height: 0;
  padding: 0;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  overflow: hidden;
  background: rgba(0, 0, 0, 0.36);
  margin-bottom: 10px;
  color: #fff;
}
/* line 168, ../sass/tabs.scss */
.cpt-tabs-wrapper .tabs-info .tabs-mobile .ul-tabs-info .li-tabs-info .div-tabs-content .section {
  padding: 5px;
}
/* line 170, ../sass/tabs.scss */
.cpt-tabs-wrapper .tabs-info .tabs-mobile .ul-tabs-info .li-tabs-info .div-tabs-content .section .h1-section-title {
  font-size: 16px;
  line-height: 32px;
}
/* line 175, ../sass/tabs.scss */
.cpt-tabs-wrapper .tabs-info .tabs-mobile .ul-tabs-info .li-tabs-info .div-tabs-content .section .h1-section-content {
  font-size: 14px;
  line-height: initial;
}
/* line 188, ../sass/tabs.scss */
.cpt-tabs-wrapper .tabs-info .tabs-mobile .ul-tabs-info .li-tabs-info.active .div-tabs-title {
  background: #4D96DF;
  margin-bottom: 10px;
}
/* line 193, ../sass/tabs.scss */
.cpt-tabs-wrapper .tabs-info .tabs-mobile .ul-tabs-info .li-tabs-info.active .div-tabs-title .titleStatus.dw-icon-tabs:before {
  content: "\e90f";
}
/* line 199, ../sass/tabs.scss */
.cpt-tabs-wrapper .tabs-info .tabs-mobile .ul-tabs-info .li-tabs-info.active .div-tabs-content {
  max-height: 200px;
}

/* line 210, ../sass/tabs.scss */
.txt-textOneRow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  /*当屏幕尺寸小于768px时，应用下面的CSS样式*/
  /* line 217, ../sass/tabs.scss */
  .tabs-pc {
    display: none;
  }

  /* line 221, ../sass/tabs.scss */
  .tabs-mobile {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  /*当屏幕尺寸小于768px时，应用下面的CSS样式*/
  /* line 227, ../sass/tabs.scss */
  .tabs-pc {
    display: block;
  }

  /* line 231, ../sass/tabs.scss */
  .tabs-mobile {
    display: none;
  }
}
